@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.Student{
    background: $primary-background-color;
    height: 100vh;
    width: 100%;
    padding: 0.3rem 0;
   
    &__header{
        display: flex;
        justify-content: space-between;

    }
    &__banner{
        height: 18vh;
        width: 90vw;
        position: absolute;
        top: 17%;
        left: 5%;
        border-radius: 25px;
        background-color: $box-color;
        box-shadow: 10px 10px 35px $effect-color;
        background-image: url("../../assets/Banner/Student.svg");
        background-size: 120% 120%;
        background-position: right 200% bottom 50%;
        background-repeat: no-repeat;
    
      &--text{
    
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        top: 15%;
        left: 5%;
        }
    }

        
    &__courses{
        
        height: 58vh;
        width: 90%;
        position: absolute;
        top: 40%;
        left: 5%;
        background-color:$box-color;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;

        &--text{
            margin-top: 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            color: $primary-text-color;

            &:hover{
             
                background-color: $box-color;
                box-shadow:rgba(231, 238, 241, 0.932) 0 0 90px 33px

            }
        }
    }

}

.Studentuser{
    font-size: 1.5rem;
    display: flex;
    margin-top: 1rem;
   
   
&__name{
   
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
    &__avatar{
        height: 6vh;
        width: 10vw;
        margin: 0 1rem;
    background-image: url("../../assets/avatar/avatar-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
    
    }
}

