@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.Instructor{
    background: $primary-background-color;
    height: 100vh;
    width: 100%;
    padding: 0.3rem 0;
}