//Global scss
.Page {
  background-color: #3f575f;
  height: 100vh;
  width: 100%;
  padding: 0.3rem 0;
}
// above code in global scss

.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  width: 60vw;
  margin: 5rem 3rem 0 4rem;
  background-color: #db9559;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: center;
   
    font-size: 1.8rem;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-size: 0.8rem;
  }

  &__fields {
    // padding: 0.5rem 0rem;    //mobile styling
    margin: 0.5rem 0;
  }

  &__button {
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    border: none;
    background-color: #f1f1f1;
    font-weight: 700;
    margin-top: 1rem;

    &:hover {
      background-color: #3f575f;
      color: #f1f1f1;
      font-weight: 700;
    }
  }
}
