@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

//Global scss
.Page {
  background: $primary-background-color;
  height: 100vh;
  width: 100%;
  padding: 0.001rem 0rem;
}
// above code in global scss
a {
  text-decoration: underline;
  color: $link-color;
}
.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 60vw;
  margin: 3rem 0rem 0rem 4rem;
  color: $primary-text-color;

  &__container {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.45);
  }

  @include tablet {
    margin: 5rem 0rem 0 15rem;
    width: 40vw;
    height: 80vh;
  }
  @include desktop {
    margin: 10rem 0rem 0 30rem;
    width: 30vw;
    height: 70vh;
  }

  &__header {
    display: flex;
    padding: 1.8rem 5.3rem 0.5rem 0rem;

    background-image: url("../../assets/SignUp/image.svg");
    background-size: 155% 400%;
    background-position: right 100% bottom 58%;

    background-repeat: no-repeat;

    &--heading {
      font-size: 1.8rem;

      margin-bottom: 0.7rem;
    }
    //importing mixins
    @include desktop {
      font-size: 2rem;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-size: 0.7rem;

    @include desktop {
      font-size: 1.3rem;
    }
  }

  &__fields {
    padding: 0.5rem 2.5rem; //mobile styling
    border: 1px;
    border-radius: 15px;
    margin: 0.3rem;
    font-size: 0.8rem;

    @include desktop {
      margin: 0.5rem;
    }
  }

  &__button {
    margin: 1rem;
    background-color: $button-primary-color;
    color: $primary-text-color;
    color: $secondary-text-color;
    padding: 0.3rem 3rem;
    border: 0.5px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: $button-primary-transition;
    outline: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $button-primary-color;
      color: $secondary-text-color;
      transform: translateY(-3px);
    }
  }
}
input[name="firstName"],
input[name="lastName"] {
  background-image: url("../../assets/SignUp/profile.svg");
  background-repeat: no-repeat;
  background-position: left 5% bottom 60%;
  background-size: 8%;
}
input[name="email"] {
  background-image: url("../../assets/SignUp/Email.svg");
  background-repeat: no-repeat;
  background-position: left 5% bottom 60%;
  background-size: 8%;
}
input[name="password"],
input[name="confirmPassword"] {
  background-image: url("../../assets/SignUp/password.svg");
  background-repeat: no-repeat;
  background-position: left 5% bottom 60%;
  background-size: 8%;
}
