.footer {
  color: white;
  background-color: #394443;
  // padding: 20px 0;
  position: absolute;
  top: 80%;
  display: flex;
  &__container {
    &--elements {
      height: 30vh;
    }
    &--e1 {
      height: 100%;
      display: flex;

      justify-content: space-between;
    }
  }
}
