.header {
  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    height: 15vh;
    &__right--links {
      display: flex;
      list-style-type: none;
    }
    &__right--login {
      padding: 1rem;
      font-size: 1rem;
    }
    &__right--register {
      padding: 1rem;
      font-size: 1rem;
    }
    img {
      height: 100%;
    }
  }
}
a {
  text-decoration: none;
  color: #9d7b8d;
  font-weight: 700;
}
a:hover {
  color: maroon;
}
