.header {
  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #394443;
    color: white;
    height: 15vh;
    position: fixed;
    width: 100%;

    &__right--links {
      display: flex;
      list-style-type: none;
    }
    &__right--login {
      padding: 1rem;
      font-size: 0.8rem;   //mobile styling
      
    }
    &__right--register {
      padding: 1rem;
      font-size: 0.8rem;
    }
    img {
      height: 100%;
    }
  }
}
a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}
