@use "../../styles/partials/variables" as *;

.hamburger-menu {
    display: none;
  }
  
  .hamburger-menu.open .menu-items {
    display: block;
    height: 100vh;
    width: 70vw;
    background-color:rgba(255, 255, 255, 0.45);
    transition: $button-primary-transition;
  }
  
  .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 0 0.5rem;
  }
  
  .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
  }
  
  .menu-items {
    display: none;
    list-style: none;
    padding: 0;
  }
  
  .menu-items li {
    margin: 10px 0;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #333;
  }
  
  /* Media query for small screens (e.g., mobile) */
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
  
    .menu-items {
      display: none;
    }
  }