.banner {
  height: 90vh;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}
// .courses{
//   display: flex;

// }

// put in different scss
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translate(calc(-80vw * 3));
  }
}

.courses {
  background-color: beige;
  width: 100vw;
  height: 60vh;
  position: relative;
  display: flex;

  &__img {
    animation: scroll 12s linear infinite;
    display: flex;
    width: calc(9vw * 6);
    &--1 {
      width: 100vw;
      height: 60vh;
    }
    &--slide {
      height: 100vh;
      width: 100vw;
    }
  }
  &__content {
    background-color: black;
    border: 2px solid red;
    width: 100vw;
    height: 60vh;
    z-index: 1;
  }
}
