.banner {
  height: 90vh;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}
// .courses{
//   display: flex;

// }

// put in different scss
@keyframes scroll {
  0% {transform: translateX(0%) ;}
  100% {transform: translate(calc(-100vw * 3));}
}


.courses {
  background-color: beige;
  width: 70vw;
  height: 60vh;
  position: relative;

  &__img {
    animation: scroll 10s linear infinite;
    display: flex;
    width: calc(100vw * 6);
  &--slide{
    height: 100vh;
    width: 100vw;
  }
}

}
