//PRIMARY COLORS
$primary-text-color: #13182c;
$primary-background-color: #db9559;

//SECONDARY COLORS
$secondary-text-color: white;
$secondary-background-color: #394443;

//DARK COLOR
$page-background-color: #3f575f;
$border-color: black;

//breakpoints

$tablet-width: 768px;
$desktop-width: 1280px;
