//PRIMARY COLORS
$primary-text-color: #13182c;
$primary-background-color: linear-gradient(-90deg, #c9a8ca, #a1bcff);
$courses-color:#c09471;

//SECONDARY COLORS
$secondary-text-color: white;
$secondary-background-color: #394443;

//DARK COLOR
$page-background-color: #3f575f;
$border-color: black;

//EFFECTS COLOR
$effect-color: rgba(0, 0, 0, 0.3);

//Button
$button-primary-color:#3498db;
$button-primary-transition :background-color 0.3s ease, transform 0.3s ease;

//breakpoints

$tablet-width: 768px;
$desktop-width: 1280px;

//FONT 
