@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

@media only screen and (max-width: 400px) {
  .Courses {
    background: $primary-background-color;
    width: auto;
    height: 300vh;
    padding: 10px;
    position: relative;

    &__searchbar--icon {
      position: absolute;
      top: 1.1%;
      left: 5%;
      color: #4a5759;
    }

    &__searchbar--size {
      font-family: "Inter", sans-serif;
      font-size: 15px;
      width: 91%;
      border: 1px solid grey;
      padding: 10px 0 10px 32px;
      border: 5px;
      margin-bottom: 20px;
    }

    &__display {
      background-color: #ced7f3;
      font-size: 10px;
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      // justify-content: center;
      gap: 5px;
      height: 260vh;
      border: 1px solid grey;

      &--style {
        padding: 20px;
        display: flex;
        gap: 15px;

        border-bottom: 1px solid black;
        flex-basis: 350px;
        position: relative;
        // height: 0vh;
      }
      &--style img {
        object-fit: cover;
        max-width: 50%;
        height: 100%;
        vertical-align: middle;
        border-radius: 5px;
      }
    }
  }
}

// .Courses {
//   background: $primary-background-color;

//   // width: 100vw;

//   &__searchbar {
//     padding: 6rem 0.5rem 1rem 2rem;
//     @include desktop {
//       padding: 10rem 0.5rem 1.5rem 7rem;
//     }

//     &--size {
//       width: 60vw;
//       padding: 0.5rem; //mobile styling
//     }
//   }
//   &__addcourse {
//     padding: 0.5rem;
//     width: 7vw;
//     border-radius: 20px;
//     border: none;
//     background-color: $secondary-text-color;
//     font-weight: 800;
//     font-size: 0.7rem;
//     color: $page-background-color;
//   }
//   &__display {
//     display: flex;
//     flex-direction: column;
//     // flex-wrap: wrap;
//     // justify-content: center;
//     gap: 5px;
//     height: 15vh;

//     &--style {
//       display: flex;
//       gap: 10px;
//       border: 1px solid black;
//       flex-basis: 350px;
//       position: relative;
//     }
//     &--style img {
//       object-fit: cover;
//       max-width: 50%;
//       height: 50%;
//       vertical-align: middle;
//       border-radius: 5px;
//       &:hover + .Courses__display--info {
//         display: block;

//         p {
//           color: purple;
//           margin-bottom: 10px;
//           background-color: $courses-color;
//           border-radius: 2px;
//           transition: 5s;
//           padding: 5px 8px;
//         }
//       }
//     }
//     &--info {
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: none;

//       width: 100%;
//       height: 100%;
//       background-color: $effect-color;
//     }
//     &--innerinfo {
//       margin: auto;
//       width: 80%;
//       position: absolute;
//       top: 30%;
//       left: 10%;
//     }
//   }

//   // @media only screen and (max-width: 320px) {
//   //   .Courses {
//   //     background-color: yellow;
//   //   }
//   // }

// }
