@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
}
a:hover {
  color: $primary-background-color;
}

.Page {
  background-color: $page-background-color;
  height: 100vh;
  width: 100%;
  padding: 0.3rem 0;
}
// above code in global scss

//Mobile Friendly at 320 px

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 70vw;
  margin: 1.5rem 0rem 0rem 2.5rem;

  background-color: $primary-background-color;
  color: $primary-text-color;
  font-weight: 700;

  @include tablet {
    height: 75vh;
    width: 50vw;
    margin: 6rem 0rem 0rem 12rem;
  }

  @include desktop {
    height: 50vh;
    width: 60vw;
    margin: 15rem 0rem 0rem 18rem;
    border-radius: 20px;
  }

  &__header {
    display: flex;
    color: $primary-text-color;
    padding: 0rem 5rem 0rem 0rem;
    margin: 0;
    background-image: url("../../assets/SignUp/Login.svg");
    background-size: 110% 122%;
    background-position: right 0% bottom 120%;
    background-repeat: no-repeat;

    &--title {
      font-size: 2rem; //mobile
      padding-bottom: 7rem;
    }
  }
  &__table {
    margin: 0rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.45);
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 1rem;

    font-size: 0.8rem;
    @include desktop {
      font-size: 1.3rem;
    }

    &--fields {
      padding: 0.5rem 2.5rem; //mobile styling
      border: 1px;
      border-radius: 15px;
      margin: 0.3rem;
      font-size: 0.8rem;

      @include desktop {
        padding: 1rem 5rem;
      }
    }
  }

  &__main input {
    margin: 0.5rem 0.3rem;
  }
  &__google {
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: $primary-text-color;
    padding: 0.3rem 3rem;
    border: 0.5px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: $button-primary-transition;
    outline: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-image: url("../../assets/SignUp/Google.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left 5% bottom 60%;

    &:hover {
      background-color: $button-primary-color;
      color: $secondary-text-color;
      transform: translateY(-3px);
    }

    @include desktop {
      padding: 0.9rem 1rem;
      font-size: 1rem;
    }
  }
  &__newuser {
    @include tablet {
      margin-left: 3rem;
    }
    @include desktop {
      font-size: 1rem;
    }
  }
  &__button {
    margin: 1rem;
    background-color: $button-primary-color;
    color: $primary-text-color;
    color: $secondary-text-color;
    padding: 0.3rem 3rem;
    border: 0.5px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: $button-primary-transition;
    outline: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $button-primary-color;
      color: $secondary-text-color;
      transform: translateY(-3px);
    }

    @include desktop {
      font-size: 1rem;
      padding: 0.5rem 3rem;
    }
  }
  &--style {
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-left: 4rem;
    }
    @include desktop {
      flex-direction: row;
      margin-left: 7rem;
    }
  }
}
