@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
}
a:hover {
  color: $primary-background-color;
}

.Page {
  background-color: $page-background-color;
  height: 100vh;
  width: 100%;
  padding: 0.3rem 0;
}
// above code in global scss

//Mobile Friendly at 320 px

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 60vw;
  margin: 6rem 7rem 4rem 4rem;
  background-color: $primary-background-color;
  color: $secondary-text-color;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;

  @include tablet {
    height: 75vh;
    width: 50vw;
    margin: 6rem 0rem 0rem 12rem;
  }

  @include desktop {
    height: 50vh;
    width: 60vw;
    margin: 15rem 0rem 0rem 18rem;
    border-radius: 20px;
  }

  &__header {
    display: flex;

    margin: 1.8rem;
    font-size: 1.8rem; //mobile
  }
  &__table {
    margin: 0rem;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8rem;
    @include desktop {
      font-size: 1.3rem;
    }

    &--heading {
      padding-left: 0.5rem;
      @include desktop {
        padding-left: 0;
      }
    }
    &--fields {
      padding: 0.7rem 0rem;

      @include desktop {
        padding: 1rem 5rem;
      }
    }
  }

  &__main input {
    margin: 0.5rem 0.3rem;
  }
  &__google {
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: $secondary-text-color;
    font-weight: 800;
    font-size: 0.7rem;
    color: $page-background-color;
    @include desktop {
      padding: 0.9rem 1rem;
      font-size: 1rem;
    }

    &:hover {
      background-color: $page-background-color;
    }
  }
  &__newuser {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    @include tablet {
      margin-left: 3rem;
    }
    @include desktop {
      font-size: 1rem;
    }

    &:hover {
      color: $page-background-color;
    }
  }
  &__button {
    padding: 0.5rem 0;
    border-radius: 20px;
    border: none;
    background-color: $secondary-text-color;
    font-weight: 800;

    @include tablet {
      margin-left: 3rem;
      padding: 1rem;
    }

    @include desktop {
      font-size: 1rem;
      padding: 0.5rem 3rem;
    }

    &:hover {
      background-color: $page-background-color;
      color: $secondary-text-color;
      font-weight: 800;
    }
  }
  &--style {
    display: flex;
    flex-direction: column;
    @include tablet {
      margin-left: 4rem;
    }
    @include desktop {
      flex-direction: row;
      margin-left: 7rem;
    }
  }
}
